body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #020617;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar button:hover {
  background: #38bdf8;
  color: black;
}

#canvas-container {
  flex: 1;
}
